/*===========================================================================*/
div#page {
    padding: 1rem 3rem;
}




/*===========================================================================*/
div#page h3 {
    margin: 3rem 8rem;
}

div#page p {
    margin: 3rem 8rem;
    text-align: justify;
    column-count: 3;
    column-gap: 2rem;
}






/*================================================================================*/
@media screen and (max-width: 800px) {
    /*======================================================*/
    div#page h1 {
        margin-top: -0.5rem;
    }

    div#page h3 {
        margin: 1rem -0.5rem;
    }
    
    div#page p {
        margin: 1.5rem -0.5rem;
        column-count: 1;
    }
}