body {
    background-color: #1e1e1e;
    color: #cacaca;
}

a.text {
    color: #cacaca;
    background-image: linear-gradient(to right, #f0f0f05e, #f0f0f05e);
    background-size: 100% 2px;
}




/*===========================================================================*/
div#page form section {
    background-color: #373737;
}




/*===========================================================================*/
div#page form section#scaleSection img {
    filter: invert(1);
}

div#page form section#scaleSection p {
    background-color: #4d4d4dfa;
    box-shadow: 0 0 17px 0px #0f0f0f;
}




/*===========================================================================*/
div#page div.infoBubble {
    background-color: #424242;
}

div#page div.alternativesContent.initial {
    border: dotted .2rem #f0f0f0;
}

div#page div.infoBubble svg {
    filter: invert(1);
}




/*===========================================================================*/
div#page article#alternatives div.alternativesContent div.contain img#arrow {
    filter: invert(1);
}

div#page article#alternatives div.alternativesContent div.flip-card-inner {
    background-color: #262624;
}

div#page article#alternatives div.alternativesContent div.flip-card-inner div.front, div#page article#alternatives div.alternativesContent div.flip-card-inner .back {
    background-color: #262624;
    color: #f0f0f0;
}


/*===========================================================================*/
footer div#contact img {
    filter: invert(1);
}




/*===========================================================================*/
div#lang {
    background-color: #ffffff1a;
    border: 2px solid #ffffff;
    border-bottom: 0;
}

div#lang div#inactive {
    background-color: #ffffff1a;
    border: 2px solid #ffffff;
    border-bottom: 0;
}