/*===========================================================================*/
div#page {
    padding: 1rem 3rem;
}

a {
    text-decoration: underline;
    text-decoration-style: dotted;
}

.appear {
    animation-name: appear;
      -webkit-animation-name: appear;
    animation-duration: .5s;
      -webkit-animation-duration:.5s;
    animation-iteration-count: 1;
      -webkit-animation-iteration-count: 1;
    animation-timing-function: ease;
      -webkit-animation-timing-function: ease;
    animation-fill-mode: forwards;
      -webkit-animation-fill-mode: forwards;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(4rem) scale(90%);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(100%);
    }
}




/*===========================================================================*/
div#page fieldset legend {
    font-family: 'Zilla Slab', sans-serif;
    font-size: 2rem;
    text-indent: 5%;
    margin-right: 1rem;
}

div#page fieldset {
    border-radius: .5rem;
    padding: 1.5rem 3rem;
}

div#page form section {
    font-size: 1.2rem;
    background-color: #E1E1E1;
    border: 1px solid #cbcbcb;
    border-radius: .8rem .8rem .8rem 0;
    padding: .5rem;
}


/*===================================================*/
div#page form section#deviceSection {
    display: flex;
    justify-content: space-between;
    width: 60%;

}


/*===================================================*/
div#page form section#scaleSection {
    display: flex;
    justify-content: space-between;
    margin-top: 1.2rem;
    width: 75%;
}

div#page form section#scaleSection input[type=range] {
    height: 1rem;
    -webkit-appearance: none; 
    width: 70%; 
    background: transparent;
    margin-top: .3rem;
}
  
div#page form section#scaleSection input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}
  
div#page form section#scaleSection input[type=range]:focus {
    outline: none; 
}

div#page form section#scaleSection input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: .9rem;
    width: .9rem;
    border-radius: 25rem;
    background: #ffffff;
    cursor: pointer;
    position: relative;
    top: -3.5px;
}
  
div#page form section#scaleSection input[type=range]::-moz-range-thumb {
    border: 1px solid #000000;
    height: .9rem;
    width: .9rem;
    border-radius: 25rem;
    background: #ffffff;
    cursor: pointer;
}

div#page form section#scaleSection input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: .3rem;
    cursor: pointer;
    box-shadow: 1px 1px 1px #979797, 0 0 1px #979797;
    background: #979797;
    border-radius: .5rem;
}
  
div#page section#scaleSection input[type=range]:focus::-webkit-slider-runnable-track {
    background: #979797;
}
  
div#page form section#scaleSection input[type=range]::-moz-range-track {
    width: 100%;
    height: .3rem;
    cursor: pointer;
    box-shadow: 1px 1px 1px #979797, 0 0 1px #979797;
    background: #979797;
    border-radius: .5rem;
}

div#page form section#scaleSection img {
    filter: opacity(.5);
}

div#page form section#scaleSection p {
    display: none;
    position: absolute;
    top: 9rem;
    bottom: auto;
    left: 73%;
    right: 7%;
    padding: .7rem;
    width: 20%;
    height: auto;
    font-size: 1rem;
    background-color: #b3b3b3a8;
    border-radius: .5rem;
    border: .01rem solid #9b9a9a;
    z-index: 3;
    box-shadow: 0 0 20px 0 #aeaeae;
}

div#page form section#scaleSection p img {
    display: none;
}




/*===========================================================================*/
div#page article#alternatives {
    padding: 0 38% 3rem 12%;
    margin-top: -35rem;
}

div.infoBubble {
    display: flex;
    position: sticky;
    top: 7rem;
    align-items: center;
    padding: 1rem;
    font-size: min(1rem, 1.5vw);
    height: 5rem;
    margin: 5rem 0 -2rem 70%;
    border-radius: .5rem;
    background-color: #c9c9c9;
    border: 1px solid #9f9f9f;
}

div.infoBubble#n2 {
    top: 17rem;
    height: 7rem;
}
    
div.infoBubble#n3 {
    top: 29rem;
    display: block;
    height: 6rem;
}

div.infoBubble#n3 p#shareLink {
    background: #f0f0f0;
    padding: .5rem;
    border: 2px solid #0f0f0f;
    border-radius: .5rem;
    font-size: .9rem;
    display: flex;
    justify-content: space-between;
}

div.infoBubble#n3 p#shareLink button {
    border: 1px solid #acacac;
    border-radius: .2rem;
    background: #f6f5f4;
    cursor: pointer;
    transition: .3s;
}

div.infoBubble#n3 p#shareLink button:hover {
    background: #e3e3e3;
}

div.infoBubble#n3 p#shareLink input#linkToCopy {
    appearance: none;
    background: transparent;
    border: 0;
    width: 80%;
}

.infoBubble svg {
    margin-right: 2rem;
    width: 20%;
}

div#page article#alternatives div.alternativesContent.initial {
    border: dotted .2rem #0f0f0f;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 1.5rem;
    height: auto;
    text-align: center;
}

div#page article#alternatives div.alternativesContent {
    background-color: transparent;
    width: 89%;
    height: 10rem;
    perspective: 1000px;
    margin-top: 5rem;
}

div#page article#alternatives div.alternativesContent div.flip-card-inner {
    position: relative;
    width: 100%;
    height: 110%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border: 1px solid #0f0f0f;
    border-radius: .5rem;
    padding: .5rem 2rem 1.3rem;
    margin-bottom: 3rem;
    box-shadow: 11px 10px 17px 0px rgba(134, 135, 132, 0.37);
    background-color: #f2ecec;
}

div#page article#alternatives div.alternativesContent div.flip-card-inner small {
    position: absolute;
    right: 1rem;
    width: max-content;
    cursor: pointer;
}

div#page article#alternatives div.alternativesContent div.flip-card-inner .back small {
    right: 2rem;
}

div#page article#alternatives div.alternativesContent div.flip-card-inner .front,
div#page article#alternatives div.alternativesContent div.flip-card-inner .back {
    position: absolute;
    width: 90%;
      -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: #f2ecec;
}

div#page article#alternatives div.alternativesContent div.flip-card-inner .back {
    color: #0f0f0f;
    height: 10rem;
    transform: rotateY(180deg);
    padding: 0 1rem;
    width: 85%;
}

div#page article#alternatives div.alternativesContent div.contain {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 10%;
}

div#page article#alternatives div.alternativesContent div.contain div {
    width: 10%;
    height: 10%;
    text-align: center;
}

div#page article#alternatives div.alternativesContent div.contain div img {
    max-width: 4.5rem;
    width: auto;
    height: auto;
    max-height: 3rem;
}





/*===========================================================================*/
div#page p#suggestions {
    font-size: 1.1rem;
    margin: 5rem 25% 1rem;
}




/*===========================================================================*/
#noJs {
    display: block;
    position: fixed;
    background-color: #0f0f0f;
    color: #f0f0f0;
    border-radius: 75rem;
    bottom: 2vh;
    right: 1rem;
    text-align: center;
    padding: 0.5rem 1rem;
    animation: noJs .5s ease 1;
}

@keyframes noJs {
    0% {
        bottom: -50vh;
    }
    75% {
        bottom: 5vh;
    }
    100% {
        bottom: 2vh;
    }
}







/*================================================================================*/
@media screen and (max-width: 750px) {
    div#page {
        padding: .5rem;
        margin-top: 3.9rem;
    }

    div#page h1 {
        margin: .25rem .5rem;
    }

    /*==================================================================*/
    div#page fieldset {
        padding: 1rem;
        width: auto;
    }

    div#page form section#deviceSection, div#page form section#scaleSection {
        width: 90%;
        flex-direction: column;
    }

    div#page form section#deviceSection select {
        height: 2rem;
        width: 80%;
        margin-top: .7rem;
    }

    div#page form section#scaleSection img {
        margin-top: .5rem;
    }

    div#page form section#scaleSection p {
        display: block;
        top: -20rem;
        bottom: auto;
        left: auto;
        right: auto;
        width: 70%;
        height: auto;
        background-color: #fdfbf2;
        z-index: 9;
        padding: .3rem 1.4rem 1rem 1.4rem;
    }

    div#page form section#scaleSection p img {
        display: inline-block;
        position: relative;
        top: -.5rem;
        left: 95%;
    }

    .hideHelp{
        animation-name: hideHelp;
          -webkit-animation-name: hideHelp;
        animation-duration: .5s;
          -webkit-animation-duration:.5s;
        animation-iteration-count: 1;
          -webkit-animation-iteration-count: 1;
    }

    @keyframes hideHelp {
        0% {
            top: 4rem;
            box-shadow: 0px 0px 50rem 100rem #00000069;
        }
        100% {
            top: -20rem;
            box-shadow: 0;
        }
    }

    .showHelp {
        animation-name: showHelp;
          -webkit-animation-name: showHelp;
        animation-duration: .5s;
          -webkit-animation-duration:.5s;
        animation-iteration-count: 1;
          -webkit-animation-iteration-count: 1;
        animation-timing-function: ease;
          -webkit-animation-timing-function: ease;
        animation-fill-mode: forwards;
          -webkit-animation-fill-mode: forwards;
    }

    @keyframes showHelp {
        0% {
            top: -20rem;
            box-shadow: 0;
        }

        100% {
            top: 4rem;
            box-shadow: 0px 0px 23px 100rem #00000069;
        }
    }

    div#page form button {
        width: 35%;
        align-items: center;
    }



    /*==================================================================*/
    div#page article#alternatives {
        padding: 0;
        margin-top: 0;
    }

    div.infoBubble {
        position: relative;
        top: 0;
        margin: 1.5rem 10%;
        font-size: 1rem;
    }

    div.infoBubble#n2, div.infoBubble#n3 {
        top: 1rem;
        display: none;
    }

    div#page article#alternatives div.alternativesContent.initial {
        border: dotted .2rem #0f0f0f;
        margin-left: auto;
        margin-right: auto;
        padding: 5%;
        height: auto;
        text-align: center;
        width: 85%;
    }

    div#page article#alternatives div.alternativesContent {
        padding: .5rem .6rem 1.3rem;
        margin: 1rem auto 0 auto;
        height: 11rem;
    }

    div#page article#alternatives div.alternativesContent div.contain {
        width: 85%;
    }

    div#page article#alternatives div.alternativesContent div.contain img#arrow {
        height: 2rem;
    }
    
    div#page article#alternatives div.alternativesContent div.flip-card-inner {
        width: auto;
        padding: 0;
        font-size: .8rem;
        height: 100%;
    }
    
    div#page article#alternatives div.alternativesContent div.flip-card-inner .front {
        margin: .5rem 1.3rem;
    }

    div#page article#alternatives div.alternativesContent div.contain div img {
        max-width: 3rem;
    }

    div#page article#alternatives div.alternativesContent div.flip-card-inner .back {
        height: 84%;
    }

    div#page article#alternatives div.alternativesContent div.flip-card-inner .back h2 {
        margin-bottom: 0;
    }

    div#page article#alternatives div.alternativesContent div.flip-card-inner small {
        margin-left: 70%;
        cursor: pointer;
    }

    div#page article#alternatives div.alternativesContent div.flip-card-inner .back small {
        margin-left: 75%;
    }
}