/*========en=================================================================*/
div#page {
    padding: 0;
}

:target:before {
    content: "";
    display: block;
    height: 6rem;
    margin: -6rem 0 0;
}




/*===========================================================================*/
div#page h1, div#page h2 {
    margin-bottom: .5rem;
    margin-top: .5rem;
    position: relative;
    z-index: 3;
}

div#title {
    position: relative;
    padding: 1rem 3rem;
    background-color: #c4c4c4;
}

div#title h1 {
    width: 65%;
}

div#page div#title small i {
    position: relative;
    z-index: 3;
}




/*===========================================================================*/
div#page div.imageContainer {
    margin-top: -2.5rem;
}

div#page div.image {
    position: relative;
    top: -2.5rem;
    right: 0;
    left: 0;
    z-index: -1;
    height: 17rem;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

div.imageTop, div.imageBottom {
    position: relative;
    right: 0;
    left: 0;
    z-index: 2;
}

div.imageTop {
    top: 0;
    height: 5rem;
    transform: skewY(-2deg);
    background-color: #C4C4C4;
}

div.imageBottom {
    top: -4rem;
    height: 3rem;
    transform: skewY(1deg);
    background-color: #f0f0f0;
}




/*===========================================*/
div#page div.articleContentContainer {
    padding: 0 5rem;
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
    flex-direction: row-reverse;
}


div#page aside {
    position: sticky;
    top: 7rem;
    z-index: 2;
    height: max-content;
    padding: .5rem 2rem .5rem 1rem;
    border: 1px solid #000000;
    border-radius: .5rem;
    font-size: 1.3rem;
    background-color: #f0f0f0;
}

div#page aside ul {
    font-size: 1rem;
}

div#page aside ul a {
    text-decoration: none;
}




/*===========================================================================*/
div#page article#content {
    width: 70%;
    font-size: 115%;
}

div#page article#content h2 {
    margin-top: 5rem;
}

div#page article#content section.def {
    margin-bottom: 4rem;
}

div#page article#content section.def p {
    margin-left: 2rem;
}

div#page article#content sup {
    font-size: 60%;
}

div#page article#content blockquote {
    font-size: 1.2rem;
    font-style: italic;
    margin: 3rem 2rem;
}

div#page article#content blockquote legend {
    font-size: 1rem;
    margin-top: 1rem;
}

div#page article#content ol li {
    font-weight: bold;
}







/*================================================================================*/
@media screen and (max-width: 800px) {
    /*======================================================*/
    div#page {
        margin-top: 3.9rem;
    }

    :target:before {
        content: "";
        display: block;
        height: 16rem;
        margin: -16rem 0 0;
    }



    /*===========================================================================*/
    div#page div#image {
        display: block;
        height: 20vh;
        margin-top: -.5rem;
        right: 0;
        left: -0.5rem;
        width: 102vw;
    }
    
    
    /*======================================================*/
    div#page div.articleContentContainer {
        padding: 0 1rem;
        flex-direction: column;
        margin-top: -3rem;
    }

    div#page aside {
        top: 5rem;
        z-index: 4;
        margin-left: 0;
    }
    
    div#page article#content {
        width: 100%;
        margin-left: 0;
    }
}