/*===========================================================================*/
div#page {
    padding: 1rem 3rem;
}




/*===========================================================================*/
div#page div#articlesWrapper {
    display: flex;
    flex-direction: row;
}

div#page div#articlesWrapper a {
    display: block;
    margin-left: 1rem;
    width: 20%;
    height: 17rem;
    border-radius: .5rem;
    border: 1px solid #00000030;
    transition-duration: 0.3s;
    overflow: hidden;
}

div#page div#articlesWrapper a:hover {
    background-color: #a2a2a23b;
    text-decoration: none;
    box-shadow: 0 0 20px 0px #bfbfbf;
}

div#page div#articlesWrapper a div {
    width: 100%;
    height: 10rem;
    background-size: cover;
    background-position: center;
}

div#page div#articlesWrapper div#vpn {
    background-image: url(/assets/map_world_tech.jpg);
}

div#page div#articlesWrapper div#eulock {
    background-image: url(/assets/european_union_padlock.png);
}

div#page div#articlesWrapper div#private {
    background-image: url(/assets/incognito-private-mode.png);
}

div#page div#articlesWrapper div#dictionary {
    background-image: url(/assets/dictionary.jpg);
}

div#page div#articlesWrapper a h3 {
    padding: .2rem 1rem;
}
  






/*================================================================================*/
@media screen and (max-width: 800px) {
    /*======================================================*/
    div#page {
        padding: 0 2rem;
    }

    div#page div#articlesWrapper {
        flex-direction: column;
        margin-top: 2rem;
    }

    div#page div#articlesWrapper a {
        width: 90%;
        margin-left: auto;
        margin-bottom: 1.5rem;
        margin-right: auto;
    }
}