/*===========================================================================*/
body {
    background-color: #1e1e1e;
    color: #cacaca;
}

a.text {
    color: #cacaca;
    background-image: linear-gradient(to right, #f0f0f05e, #f0f0f05e);
    background-size: 100% 2px;
}




/*===========================================================================*/
div#page div#title, div.imageTop {
    background-color: #333333;
    color: #f0f0f0;
}

div.imageBottom {
    background-color: #1e1e1e;
}

div#page aside {
    border: 1px solid #cacaca;
    background-color: #1e1e1e;
}



/*===========================================================================*/
footer div#contact img {
    filter: invert(1);
}




/*===========================================================================*/
div#lang {
    background-color: #ffffff1a;
    border: 2px solid #ffffff;
    border-bottom: 0;
}

div#lang div#inactive {
    background-color: #ffffff1a;
    border: 2px solid #ffffff;
    border-bottom: 0;
}