/*===========================================================================*/
body {
    background-color: #1e1e1e;
    color: #cacaca;
}

a {
    color: #f0f0f0;
}

a.text {
    color: #cacaca;
    background-image: linear-gradient(to right, #f0f0f05e, #f0f0f05e);
    background-size: 100% 2px;
}




/*===========================================================================*/
div#page div#articlesWrapper a {
    border: 1px solid #ffffff30;
}

div#page div#articlesWrapper a:hover {
    background-color: #b5b5b51c;
    box-shadow: 0 0 20px 0px #000;
}



/*===========================================================================*/
footer div#contact img {
    filter: invert(1);
}




/*===========================================================================*/
div#lang {
    background-color: #ffffff1a;
    border: 2px solid #ffffff;
    border-bottom: 0;
}

div#lang div#inactive {
    background-color: #ffffff1a;
    border: 2px solid #ffffff;
    border-bottom: 0;
}