body {
    background-color: #1e1e1e;
    color: #cacaca;
}

a.text {
    color: #cacaca;
    background-image: linear-gradient(to right, #f0f0f05e, #f0f0f05e);
    background-size: 100% 2px;
}


/*===========================================================================*/
div#page article#home {
    color: #cacaca;
}

div#page article#home h1 {
    transform: rotate(0);
}


/*===========================================================================*/
div#page article#start div#startBlock div a {
    color: #252525;
}


/*===========================================================================*/
#page #firstSteps aside {
    border-left: 1px solid #cacaca;
}

#page article#firstSteps svg, div#page article#orgs svg, div#page article#home svg {
    filter: invert(1);
}


/*===========================================================================*/
div#page article#data {
    background-color: #8e3636;
}


/*===========================================================================*/
div#page article#orgs section#fpf img {
    display: inline;
}


/*===========================================================================*/
footer div#contact img {
    filter: invert(1);
}



/*===========================================================================*/
div#lang {
    background-color: #ffffff1a;
    border: 2px solid #ffffff;
    border-bottom: 0;
}

div#lang div#inactive {
    background-color: #ffffff1a;
    border: 2px solid #ffffff;
    border-bottom: 0;
}




@media screen and (max-width: 800px) {
    div#page article#orgs section#fpf img {
        height: 5rem;
        width: 5rem;
    }
}