@import url(/assets/fonts/bebasneue/bebas_neue_bold.css);

/*===========================================================================*/
#startLink, #dataLink, #firstStepsLink, #orgsLink {
    height: 0;
}

div#page {
    margin-top: 0;
}




/*===========================================================================*/
#page #home {
    background-image: url("/assets/pixabay-sureveillance_camera_white.webp");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

#page article#home h1 {
    position: absolute;
    top: 24vh;
    right: 20%;
    left: 28%;
    font-size: 5rem;
    transform: rotate(.7deg);
    font-family: 'BebasNeueBold', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#page article#home p {
    position: absolute;
    top: 52vh;
    left: 20%;
    width: 60%;
    font-size: 1.3rem;
    text-align: justify;
    font-family: 'Zilla Slab', sans-serif;
}

#page article#home svg {
    position: absolute;
    bottom: 2vh;
    left: 52%;
    right: 33%;
    width: 10%;
}




/*===========================================================================*/
div#page article#start {
    height: 80vh;
    padding-top: 20vh;
    background-color: #0f0f0f;
    background-image: url("/assets/man_on_phone.webp");
    background-size: cover;
    color: #f0f0f0;
}

div#page article#start div#startBlock {
    display: flex;
    font-size: 1.5rem;
    justify-content: space-evenly;
    align-items: baseline;
}

div#page article#start div#startBlock div {
    width: 40%;
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
}

div#page article#start div#startBlock div p {
    text-align: justify;
}

div#page article#start div#startBlock div a {
    text-align: center;
    border: 1px solid #eeeeee;
    border-radius: 1rem;
    background: #cfcfcf;
    padding: .5rem 1rem;
    margin-left: auto;
    margin-right: auto;
}

div#page article#start div#startBlock div a:hover {
    background: #7c7c7c;
    color: #eeeeee;
    transition: .3s;
    text-decoration: none;
}

div#page article#start div#startBlock div#articles a {
    margin-top: 4.5vh;
}

div#page article#start svg {
    width: 2%;
    margin: 50vh 49% 0;
    filter: invert(1);
}




/*===========================================================================*/
#page #firstSteps {
    margin: 2vh 8% 0 10%;
    height: 80vh;
    padding-top: 20vh;
}

#page #firstSteps aside {
    position: relative;
    top: -25rem;
    left: 60%;
    padding: .7rem;
    width: 35%;
    font-size: 1.15rem;
    text-align: justify;
    border-left: 1px solid #1e1e1e;
}

#page #firstSteps fieldset {
    width: 50%;
    border-radius: .5rem;
    font-size: 1.4rem;
}

#page #firstSteps fieldset legend {
    font-size: 2.1rem;
    margin-left: 8%;
}

#page #firstSteps ol p.details {
    font-size: 1rem;
}

#page article#firstSteps svg {
    width: 2.5%;
    margin: 12vh 46.5% 0;
}




/*===========================================================================*/
div#page article#data {
    background-color: #ca7474;
    padding: 20vh 3rem 0;
    color: #f0f0f0;
    height: 80vh;
}

div#page article#data h1 {
    margin-top: 0;
}

div#page article#data div#dataBlocks {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

div#page article#data section {
    width: 27%;
    border: 1px solid #f0f0f0;
    border-radius: .5rem;
    padding: 0 .8rem;
}

div#page article#data section h3 {
    font-size: 1.5rem;
    margin-bottom: 0;
}

div#page article#data section p {
    margin-top: 0;
}

div#page article#data section#large {
    width: 91.8%;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: .7rem;
    font-size: 130%;
}

div#page article#data section#large div {
    margin-bottom: 1.8rem;
}

div#page article#data section#large h3 {
    font-size: 2rem;
    margin-bottom: 0;
}

div#page article#data small {
    text-align: right;
    margin: .8rem 0 0 0;
    display: block;
}

div#page article#data svg {
    width: 2%;
    filter: invert(1);
    position: relative;
    left: 49%;
    right: 49%;
    top: 25vh;
}




/*===========================================================================*/
div#page article#orgs {
    padding: 2rem;
}

div#page article#orgs h1 {
    margin-top: 0;
}

div#page article#orgs div#orgsBlocks {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin: 15vh 0;
}

div#page article#orgs section {
    width: 30%;
    margin-left: 2rem;
    text-align: justify;
}

div#page article#orgs section img {
    display: block;
    margin-bottom: 1rem;
}

div#page article#orgs section#pi img {
    display: inline;
}

div#page article#orgs svg {
    width: 2%;
    margin: 11vh 49% 0;
}





/*================================================================================*/
@media screen and (max-width: 800px) {
    div#page {
        padding: 0;
    }

    div#page img {
        width: 50%;
    }

    #startLink, #dataLink, #firstStepsLink, #orgsLink {
        height: 7.7vh;
    }


    /*==================================================================*/
    div#page article#home {
        background-image: url("/assets/pixabay-sureveillance_camera_white_mobile.webp");
        background-size: 25rem;
    }

    div#page article#home h1 {
        font-size: 2rem;
    }

    div#page article#home p {
        width: 80%;
        left: 10%;
        right: 10%;
        top: 18rem;
    }

    #page article#home svg {
        position: absolute;
        bottom: 2vh;
        left: 46%;
        width: 8%;
    }

    /*==================================================================*/
    div#page article#start {
        height: 92.3vh;
        background-color: #16130e;
        background-size: 30rem;
        background-repeat: no-repeat;
    }

    div#page article#start div#startBlock {
        flex-direction: column;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    div#page article#start div#startBlock div {
        width: 100%;
        margin-top: 2vh;
    }

    div#page article#start svg {
        width: 7%;
        margin: 4vh 46.5% 0;
    }


    /*==================================================================*/
    #page #firstSteps {
       margin: 2vh 1% 0 5%;
       height: auto;
    }

    #page #firstSteps fieldset {
        width: 84%
    }

    #page #firstSteps aside {
        position: relative;
        width: 75%;
        top: 5vh;
        left: 8%;
    }

    #page article#firstSteps svg {
        width: 7%;
    }

    
    /*==================================================================*/
    div#page article#data {
        height: auto;
        padding: 2rem 1rem 1rem;
    }

    div#page article#data div#dataBlocks {
        flex-direction: column;
    }

    div#page article#data section {
        width: 80%;
        margin-top: 2rem;
    }

    div#page article#data section#large {
        flex-direction: column;
        width: 80%;
    }

    div#page article#data small a {
        text-decoration: underline;
        text-decoration-style: wavy;
    }

    div#page article#data svg {
        width: 7%;
    }


    /*==================================================================*/
    div#page article#orgs {
        padding: 1rem;
    }

    div#page article#orgs div#orgsBlocks {
        flex-direction: column;
        margin: 0;
    }

    div#page article#orgs section {
        width: 80%;
        margin: 0;
    }

    div#page article#orgs section img {
        width: 100%;
        height: auto;
        margin-top: 2rem;
    }

    div#page article#orgs section#pi img {
        height: 5rem;
        width: 5rem;
    }

    div#page article#orgs svg {
        width: 7%;
        margin: 11vh 46.5% 0;
    }
}
