/*======================================================*/
header {
  height: 3.9rem;
  z-index: 10;
  border: 0;
}

header nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 3.9rem;
  left: 0;
  right: 0;
  transform: translateX(100rem);
  height: 92vh;
  background-color: #252525;
  z-index: 5;
}

header img {
  display: inline-block;
  top: 2vh;
  right: 5.5rem;
}

header nav img {
  display: none;
}

header svg {
  display: block;
  position: absolute;
  right: 2rem;
  top: 1.5vh;
  width: 2rem;
  filter: invert(1);
}

header h1 {
  font-size: 1.5rem;
}

header nav a {
  text-align: center;
  padding: 1rem;
  margin: 1.7rem 0;
  width: 50%;
  font-size: 1.8rem;
  border-right: 1px solid #e1e1e1;
}

header nav div#lang {
  display: block;
  position: relative;
  width: 50%;
  bottom: -2rem;
  left: 2rem;
  border: none;
  background: none;
}

header nav div#lang img {
  display: inline-block;
  width: 15%;
}

header nav div#lang a {
  border: none;
  background: none;
}

.show {
  animation-name: show;
    -webkit-animation-name: show;
  animation-duration: .5s;
    -webkit-animation-duration:.5s;
  animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
  animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
  animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

@keyframes show {
  0% {
      opacity: 0;
      transform: translateX(50rem);
  }
  75% {
      border-radius: 0rem;
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
}

.hide {
  animation-name: hide;
    -webkit-animation-name: hide;
  animation-duration: .5s;
    -webkit-animation-duration:.5s;
  animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
  animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
  animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

@keyframes hide {
  0% {
      opacity: 1;
      transform: translateX(0);
  }
  25% {
      border-radius: 0;
  }
  100% {
      opacity: 0;
      transform: translateX(50rem);
  }
}



/*======================================================*/
footer {
  padding: 0 2rem;
}

div#lang {
  display: none;
}