@import url(/assets/fonts/GlacialIndifference/glacial-indifference.css);
@import url(/assets/fonts/zilla-slab/zilla-slab.css);

html {
    scroll-behavior: smooth
}

body {
    background: #f0f0f0;
    font-family: 'GlacialIndifferenceRegular', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: #0f0f0f;
}

a.text {
    color: #0f0f0f;
    text-decoration: none;
    background-image: linear-gradient(to right, #0f0f0f5e, #0f0f0f5e);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 100% 2px;
    transition: background-size .3s ease;
}

a.text:hover {
    background-size: 100% 4px;
}

span.link {
    font-size: 70%;
}

h1 {
    font-family: 'Zilla Slab';
    font-size: 2rem;
}

p::selection, h1::selection, i::selection, a::selection,
footer::selection, li::selection, aside::selection, legend::selection,
div::selection, small::selection, h2::selection, h3::selection,
img::selection, input::selection, q::selection, span::selection,
br::selection {
    background-color: #b0b0b059;
}

#page {
    margin-top: 5rem;
    z-index: 1;
}




/*===========================================================================*/
header {
    display: flex;
    align-content: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #252525;
    height: 5rem;
    padding: 0 1rem;
    z-index: 10;
}

header h1 {
    color: #ffffff;
    font-family: 'Zilla Slab Highlight';
}

header img {
    display: none;
    position: absolute;
    right: 27%;
    top: 3.7vh;
    cursor: pointer;
}

header nav img {
    display: inline-block;
    position: static;
    margin-right: 1rem;
}

header svg {
    display: none;
}

header nav {
    display: inline-flex;
    align-items: center;
}

header nav a {
    text-decoration: none;
    color: #ffffff;
    padding: .5rem 1rem ;
    border-left: 1px solid #e1e1e1;
    border-radius: 0;
    font-size: 1.2rem;
    transition: .3s;
    background-image: linear-gradient(to right, #e1e1e1, #e1e1e1);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 100% 0%;
}

header nav a:hover {
    color: #000000;
    background-size: 100% 100%;
}

header nav #lang {
    display: none
}




/*===========================================================================*/
footer {
    text-align: center;
    margin: 4rem 0 2rem 0;
}

footer div#contact {
    margin-top: 1.5rem;
}

footer div#contact a {
    margin-left: .5rem;
}

footer div#contact img#mastodon {
    filter: grayscale(1);
}




/*===========================================================================*/
div#lang {
    position: fixed;
    bottom: 0;
    left: 5%;
    width: 1.5rem;
    height: 1.2rem;
    background-color: #0000001a;
    border: 2px solid #000000;
    border-bottom: 0;
    border-radius: .5rem .5rem 0 0;
    padding: .2rem;
}

div#lang img {
    width: 100%;
    cursor: pointer;
}

div#lang div#inactive {
    position: fixed;
    opacity: 0;
    bottom: -.55rem;
    left: 5%;
    width: 1.5rem;
    background-color: #0000001a;
    border: 2px solid #000000;
    border-bottom: 0;
    border-radius: .5rem .5rem 0 0;
    padding: .2rem .2rem .7rem;
    transition: .3s;
}

div#lang:hover div#inactive {
    opacity: 1;
    bottom: 1.2rem;
}