/*===========================================================================*/
div#page {
    padding: 1rem 3rem;
}

div#page p {
    font-size: 1.15rem;
}




/*===========================================================================*/
div#page form input {
    margin-bottom: 1rem;
    border: 1px solid #0f0f0f;
    border-radius: .3rem;
    padding: .5rem;
    width: 96%;
}

div#page form div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

div#page form div section {
    display: flex;
    flex-direction: column;
    width: 45%;
}

div#page form label {
    font-size: 1.3rem;
    margin: 1rem 0;
    width: fit-content;
}

div#page form textarea {
    padding: .5rem;
    font-family: sans-serif;
}

div#page form button {
    margin: 3rem 45%;
    border: 1px solid #0f0f0f;
    border-radius: .3rem;
    padding: .5rem;
    font-size: 1.3rem;
    width: 10%;
}

div#page div#ok {
    border: 1px solid #41d000;
    background-color: #41d00017;
    line-height: 2rem;
    margin: 4rem 30%;
    text-align: center;
    padding: 1rem 0;
}

div#page div#err {
    border: 1px solid #d00000;
    background-color: #d0000041;
    padding: 2rem;
    margin: 3rem 25%;
    line-height: 2rem;
    text-align: center;
}






/*================================================================================*/
@media screen and (max-width: 800px) {
    div#page {
        padding: 1rem;
    }

    /*======================================================*/
    div#page h1 {
        margin-top: -0.5rem;
    }

    div#page form div {
        flex-direction: column;
        width: 90%;
    }

    div#page form div section {
        width: 100%;
    }

    div#page form input {
        width: 94%;
    }

    div#page form button {
        margin: 3rem 30% 0;
        width: 40%;
    }
}