@font-face{
    font-family: 'Zilla Slab';
    src: url('ttf/ZillaSlab-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Zilla Slab';
    src: url('ttf/ZillaSlab-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face{
    font-family: 'Zilla Slab';
    src: url('woff/zillaslab-regular-webfont.woff2') format('woff2'),
        url('woff/zillaslab-regular-webfont.woff') format('woff'),
        url('ttf/ZillaSlab-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Zilla Slab';
    src: url('ttf/ZillaSlab-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Zilla Slab';
    src: url('woff/zillaslab-mediumitalic-webfont.woff2') format('woff2'),
        url('woff/zillaslab-mediumitalic-webfont.woff') format('woff'),
        url('ttf/ZillaSlab-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face{
    font-family: 'Zilla Slab';
    src: url('ttf/ZillaSlab-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: 'Zilla Slab';
    src: url('ttf/ZillaSlab-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face{
    font-family: 'Zilla Slab';
    src: url('woff/zillaslab-bold-webfont.woff2') format('woff2'),
        url('woff/zillaslab-bold-webfont.woff') format('woff'),
        url('ttf/ZillaSlab-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: 'Zilla Slab';
    src: url('ttf/ZillaSlab-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face{
    font-family: 'Zilla Slab Highlight';
    src: url('ttf/ZillaSlabHighlight-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Zilla Slab Highlight';
    src: url('woff/zillaslabhighlight-bold-webfont.woff2') format('woff2'),
        url('woff/zillaslabhighlight-bold-webfont.woff') format('woff'),
        url('ttf/ZillaSlabHighlight-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
